# Python virtual environment
venv/
__pycache__/
*.pyc

# Environment variables
.env

# IDE specific files
.vscode/
.idea/

# Uploaded files
uploads/

# Logs
*.log

# Local development settings
.env.local
.env.development.local
.env.test.local
.env.production.local 